{% extends "layout.html" %}

{% block heading %}Facts{% endblock %}

{% block body %}

    <header class="header-sec my-container" style="padding-bottom: 15px;">
        <img src="{{ url_for('static', filename='img/Picture1.png')}}" alt="image" style="display: inline-block; height: 180px">
        <h1 class="heading my-container">Pink City Facts</h1>
        <img src="{{ url_for('static', filename='img/Picture1.png')}}" alt="image" style="display: inline-block; height: 180px">
    </header>

    <section>
        <article class="bg-1">
            <div class="my-container">
            <h3 class="fact-heading">1. Jaipur hosts world’s largest literary festival</h2>
                <div class="fact-desc">
                    Ever since the first literary festival was held in Jaipur back in 2006, the fame and glamour of Jaipur Literature Festival has skyrocketed and reached new heights. It has not only made Jaipur among the most famous cities of the world, but artists from all fields of art come to Jaipur during Jaipur Literature Festival.
                    Jaipur Literature Festival is the largest free literary festivals of the world. It attracts not only novelists, poets, and literary giants from the world over, but every artist on the globe comes to Jaipur to participate and interact with other artists. Debates, ideas, discussions, music, books, art, dance…. Jaipur comes alive during this one of a kind event.
                    Jaipur Literature Festival is held during the January/February every year, and this festival is also gives opportunity to explore Jaipur and see all its tourist landmarks.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">2. You can’t get lost in Jaipur</h2>
                <div class="fact-desc">
                    The whole Jaipur city was surrounded by a 6 & 3 meter (height & width) wall with eight gates in all four directions. So anyone who wants to enter or exit from Jaipur city has to pass through these gates.
                    And inside the city, the construction was planned in a unique way of a 3×3 grid system which made it very easy for locals to travel across Jaipur, as all the small lanes of Jaipur would end up on the main road. Making is almost impossible to get lost in Jaipur.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">3. Jaipur is blessed against natural & man made calamity</h2>
                <div class="fact-desc">
                    Jaipur city has a total of 8 gates, which are 1. Jorawar Singh Gate, 2. Surajpole Gate, 3. Sanganeri Gate, 4. New Gate, 5. Ajmeri Gate, 6. Chandpole Gate, 7. Ghat Gate and 8. Samrat Gate. And it is believed that these gates protect Jaipur from invaders and even natural calamities. There is a saying in Jaipur, which is: <em>“Goddess Sheela of Amer, Lord Hanuman at Chandpol, the Sanga Saint at Sanganer, have blessed Maharaja Maan Singh”</em>
                    many incidents have happened, which made the local belief stronger that Jaipur is blessed against natural & un-natural calamity such as flood in 1981 or terror attack in 2008.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">4. First planned city of India</h2>
                <div class="fact-desc">
                    Jaipur was founded in 1730 by Sawai Jai Singh II, whereas Chandigarh was built much later in the 20th century. Jai Singh II consulted many scholars of those times, and took the help of leading architects in planning a new capital city close to Amer.
                    Finally, in the year 1726, construction started on developing Jaipur. It took four years to build this spectacular city. Jaipur was developed with meticulous planning and precise architectural layout designs. Vidyadhar Bhattacharya offered his architectural expertise in developing Jaipur, and the planning was done according to laws of ancient Indian sciences of Vastu Shastra and Shilpa Shastra.
                    Jaipur was fully developed city at those times, and it can be said that it was built as the first planned city of India.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">5. Prince of Wales, gave Jaipur its 2nd name “Pink City”</h2>
                <div class="fact-desc">
                    In 1876 Prince of Wales and Queen Victoria came to visit Jaipur. Maharaja Ram Singh, who ruled Jaipur during those times, decided to welcome their guests in the most unimaginable ways possible, and that is by coloring every building in Jaipur with Pink color. Moreover, Pink color is the color of hospitality and vibrancy, so it creates a romantic image of Jaipur in the minds of travellers.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">6. Jaipur has the biggest Circular Park In Asia</h2>
                <div class="fact-desc">
                    The diameter of Jawahar Circle is 452 m, and its circumference is 1420 m. Jawahar Circle was developed by Jaipur Development Authority (JDA), as a highway traffic circle in Jaipur. The main attraction of Jawahar Circle is Patrika Gate, which seems just like a replica of another famous Jaipur monument, the Hawa Mahal.
                    Jawahar Circle has many concentric pathways on which people can walk and enjoy eye-pleasing views of the greenery and natural surroundings. Manicured rose gardens, lawns, trees and flowering shrubs in the park offer a natural beauty to Jawahar Circle, and make it one of the greenest of spaces of Jaipur.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">7. Only Jaipur is home to 3 forts, and more than 5 palaces</h2>
                <div class="fact-desc">
                    In Rajasthan you can find forts in almost all major cities. But only in Jaipur, there are not one but three gigantic forts. These are Amber Fort, Jaigarh Fort, and Nahargarh Fort. All of these are the major landmarks of Jaipur city.
                    Also Jaipur is the only city where there are 5 palaces and they are Jaipur City Palace, Rambagh Palace (Taj Rambagh Palace Hotel), Samode Haveli. Within 50 km of Jaipur, there are even more palaces such as Chomu Palace, Shahpura Palace and Samode Palace.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">8. A treasure hunt was launched by Indian Government in Jaipur</h2>
                <div class="fact-desc">
                    Jaigarh Fort is one of the top tourist attractions of Jaipur, and this fort has long walls that were built on hills. In those times, kings used to hide royal treasures in secret locations inside Jaigarh Fort, but till today nobody could unearth these treasures, and this makes Jaigarh Fort even more mysterious than other forts of Jaipur.
                    During the Emergency, the former Prime Minster of India, Indira Gandhi even made a desperate search attempt to discover the treasures inside Jaigarh Fort. Nobody knows the outcome of this search, but it definitely makes Jaigarh Fort, one of the top forts of Jaipur.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">9. Jaipur has a monkey temple</h2>
                <div class="fact-desc">
                    Jaipur has many famous temples, but one of these temples is famous due to its monkeys, and this temple is called Galtaji Monkey Temple. Galtaji is actually a temple situated 10 km from Jaipur, and this temple has a very picturesque location.
                    The temple is built in forested and hilly region, and a water spring flows from the top of the hill and collects in seven pools around the temple. It makes the entire temple very calm, peaceful and relaxing tourist spot. Langurs and Rhesus monkeys can be seen in this temple, and tourists can see them at all times. Some even dare to swim in the water pools. This makes Galtaji Temple known as the Monkey temple.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">10. Jaipur is a biggest market of Emerald</h2>
                <div class="fact-desc">
                    Jaipur has remained a big center of gemstone industry since ancient times. Kings of Jaipur greatly used emeralds and other gemstones in their attires, thrones, and encouraged artisan and skilled jewellers in their kingdom.
                    Even today, Jaipur is known as a hub of gemstone manufacturing, trading, cutting and jewelry. You will find ornaments, jewelry, made of gemstones in many places in Jaipur. So if Surat is famous for its diamond industry, then Jaipur is known for its gemstone industry.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">11. Jaipur has a real Egyptian Mummy</h2>
                <div class="fact-desc">
                    There are only 6 Egyptian mummies that you can see in museums across India, and one of them is in the Albert Hall Museum in Jaipur. This mummy is of a teenage girl called Tutu, and it is 2300 years old Egyptian mummy.
                    Albert Hall Museum, where this mummy is one of the many exhibits that you can visit, is a spectacular architectural building of Jaipur. At night the whole buildings is lighted in colored lights, making it a awesome sight. During the day, you can visit the museum inside and see age old pottery, armoury, paintings, sculptures, jewelry, woodwork, etc.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">12. Jaipur is home to block print textiles</h2>
                <div class="fact-desc">
                    Handmade block printing in Jaipur is a centuries old craft that you can find only in Jaipur. Skilled artisans have carried on this craft of printing symbols, floral patterns on sarees with wooden blocks since ages, and even today you will find these craftsmen exhibiting their skill in Jaipur.
                    This block printing is famous for Sanganeri prints, Bagru prints, Dabu prints. The special thing about this block printing is that they use natural colors in this process.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">13. Jaipur has the biggest cannon on wheels</h2>
                <div class="fact-desc">
                    In its time, Jaiwana was the world’s heaviest and biggest cannon on wheels. That was way back in 1720 when Jaiwana cannon were made in Jaigarh Fort. The strangest thing about Jaiwana Cannon was that it was never used in a battle, and was only tested once in its entire lifetime.
                    Even strange are the tales that are woven round this massive cannon. And according to some of them, the cannonball which was fired from Jaiwana Cannon resulted in the formation of a pond in Chaksu village. There are even rumours that such was the noise from this cannon that many women had miscarriages on hearing its terrible boom.
                </div>
            </div>
        </article>
        <article class="bg-2">
            <div class="my-container">
                <h3 class="fact-heading">14. Hawa Mahal – A Building Without Any Foundation</h2>
                <div class="fact-desc">
                    Known as the “Palace of Breeze” – the place is considered as a landmark of Jaipur. Built by Maharaja Sawai Pratap Singh in 1799, this five-story building has 953 windows, that is beautifully carved to allow the breeze to blow through the palace and makes it a perfect summer palace. From its exterior, it looks like a honeycomb of a beehive with these Jharokhas which are able to keep this summer palace cool all around the year. The beauty of the palace lies in the fact that it is standing on the edge of City Palace Jaipur and extends to the Zenana, or women’s chambers.
                </div>
            </div>
        </article>
        <article class="bg-1">
            <div class="my-container">
                <h3 class="fact-heading">15. Jaipur is home to block print textiles</h2>
                <div class="fact-desc">
                    Handmade block printing in Jaipur is a centuries old craft that you can find only in Jaipur. Skilled artisans have carried on this craft of printing symbols, floral patterns on sarees with wooden blocks since ages, and even today you will find these craftsmen exhibiting their skill in Jaipur.
                    This block printing is famous for Sanganeri prints, Bagru prints, Dabu prints. The special thing about this block printing is that they use natural colors in this process.
                </div>
            </div>
        </article>
    </section>

{% endblock %}