<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Description about page -->
    <meta name="description" content="Travel Jaipur (Pink City) and its various heritage and different sites with some inportant information and history u need to know.">
    <meta name="keywords" content="travel, jaipur, world, amar, palace, city, pink city, jal mahal">

    <!-- Logo font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <!-- Body font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!-- my stylesheet -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap style cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">

    <!-- Google Icon  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Jaipur Guide | {% block heading %}{% endblock %}</title>
  </head>
  <body>
    <!-- navbar-fixed-top navbar-default -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid my-container container">
        <a class="navbar-brand" href="{{ url_for('index') }}" style="font-family: 'Kaushan Script', cursive; font-size:34px; color: #4D1027;">Jaipur Guide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('facts') }}">Facts</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="{{ url_for('tourist_place') }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Places
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='monuments') }}">Monuments</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='temples') }}">Temples</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='gardens') }}">Parks / Gardens</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='monuments') }}">Museums</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='wildlife') }}">Nature / Wlidlife</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='shopping') }}">Shopping</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='food') }}">Food Delicacy</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('categorize', category='festivals') }}">Festivals</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('tourist_place') }}">All Places</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('contact') }}">Contact</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- Bootstrap Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    {% block script %}{% endblock %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script> -->
  </body>
</html>